---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Amicbridge where we built trust between people 

Amicbridge supports people white assets that they can lend out crypto,apartment,car anything that can make your money grow we have network built on people ho
lend and borrowing. 
`;
---

<Layout title="Welcome to Amicbridge.com.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Amicbridge</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
    </p>
</Layout>
